:root {
  --white: #ffffff;
  --offWhite: #f6f6f6;
  --black: #000000;
  --offBlack: #333333;
}

* {
  margin: 0;
  background-color: var(--offWhite);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* MOBILE RESPONSE */
@media (max-width: 815px) {
  header {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 120px;
    justify-content: space-between;
    background: var(--white);
  }

  header > a {
    background: none;
  }

  #logo {
    margin-top: 5px;
    margin-left: 20px;
    background: none;
    width: 100px;
    height: 108.5px;
  }

  #fs-frm {
    background: none;
    margin-top: 5%;
  }

  .hidden {
    display: none;
  }

  nav {
    position: absolute;
    z-index: 100;
    width: 100%;
    height: min-content;
    background: none;
  }

  nav > ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 100vh;
    list-style-type: none;
    margin-left: -40px;
    margin-top: 0px;
    z-index: 100;
  }

  nav > ul > li {
    background: none;
    text-align: left;
  }

  nav > ul > li > a {
    display: inline-block;
    padding-left: 8px;
    height: 100px;
    width: 100vw;
    font-size: 32pt;
    border-radius: 40px;
    text-decoration: none;
    background: none;
    color: var(--black);
  }

  li > a:hover {
    background-color: var(--offWhite);
  }

  .fa-bars {
    top: 60px;
    background: none;
    font-size: 2.5em;
    margin: 40px;
  }

  main {
    display: flex;
    flex-direction: column;
    height: min-content;
    text-align: center;
  }

  #homeBackground {
    /* position: relative; */
    width: 100%;
    height: auto;
  }

  .homeMenuContainer {
    position: relative;
    width: 100vw;
    height: 450px;
  }

  .homeMenuOptions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 75px;
    align-items: center;
  }

  .homeMenuOptions > a:hover {
    cursor: pointer;
  }

  .menuPane > h1 {
    text-align: center;
    margin-top: 10px;
    margin-left: 17.5px;
    margin-right: 17.5px;
  }

  .menuPane > p {
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
  }

  .homeMenuLink {
    position: absolute;
    bottom: 30px;
    width: 100%;
  }
  .homeMenuLink > a {
    text-decoration: none;
  }

  .homeMenuLink > a > h2 {
    background: var(--black);
    color: var(--white);
    text-align: center;
    padding: 20px;
  }

  .homeMenuLink > a > h2:hover {
    background: var(--offBlack);
  }

  .eatOption {
    width: 75px;
    height: 75px;
  }

  .growOption {
    width: 75px;
    height: 75px;
  }

  .learnOption {
    width: 75px;
    height: 75px;
  }

  .selectionBar {
    height: 5px;
    width: 75px;
    background-color: var(--black);
  }

  #gardenViewContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #gardenList {
    background: var(--white);
    width: calc(100vw - 30px);
    min-height: 300px;
    order: 1;
  }
  #gardenList > li {
    background: var(--white);
    border-bottom-color: var(--offWhite);
    border-bottom-style: solid;
    border-bottom-width: 2px;
    margin-left: -40px;
    height: 100px;
    text-align: center;
    list-style-type: none;
  }

  #gardenList > li > b {
    background: var(--white);
  }

  #map {
    align-self: center;
    height: 300px;
    width: 100vw;
    order: 0;
    z-index: 1;
  }

  .leaflet-marker-icon {
    background: none;
  }

  .leaflet-top {
    background: none;
  }

  footer {
    position: relative;
  }
}

/* ---DESKTOP RESPONSE------------------------------------- */
@media (min-width: 815px) {
  header {
    position: fixed;
    top: 0;
    z-index: 99;
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 120px;
    justify-content: space-between;
    background: var(--white);
  }

  header > a {
    background: none;
  }

  #logo {
    margin-top: 5px;
    margin-left: 20px;
    background: none;
    width: 100px;
    height: 108.5px;
  }

  .fa-bars {
    display: none !important;
  }

  .hidden {
    display: none;
  }

  nav {
    position: fixed;
    top: 50px;
    right: 0px;
    background: none;
    z-index: 100;
  }

  nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 500px;
    list-style-type: none;
    background: none;
    z-index: 100;
  }

  nav > ul > li {
    background: none;
    text-align: right;
  }

  nav > ul > li > a {
    padding: 8px;
    border-radius: 40px;
    text-decoration: none;
    background: none;
    color: var(--black);
  }

  li > a:hover {
    background-color: var(--offWhite);
  }

  main {
    display: flex;
    flex-direction: column;
    height: min-content;
    text-align: center;
    margin-top: 120px;
  }

  #homeBackground {
    margin-top: -120px;
    width: 100%;
    height: auto;
  }

  .homeMenuContainer {
    position: absolute;
    top: 195px;
    left: 75px;
    width: 500px;
    height: 400px;
  }

  .homeMenuOptions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 75px;
    align-items: center;
  }

  .homeMenuOptions > a:hover {
    cursor: pointer;
  }

  .menuPane > h1 {
    text-align: center;
    margin-top: 10px;
    margin-left: 17.5px;
    margin-right: 17.5px;
  }

  .menuPane > p {
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
  }

  .homeMenuLink {
    position: absolute;
    bottom: 30px;
    width: 100%;
  }
  .homeMenuLink > a {
    text-decoration: none;
  }

  .homeMenuLink > a > h2 {
    background: var(--black);
    color: var(--white);
    text-align: center;
    padding: 20px;
  }

  .homeMenuLink > a > h2:hover {
    background: var(--offBlack);
  }

  .eatOption {
    width: 75px;
    height: 75px;
  }

  .growOption {
    width: 75px;
    height: 75px;
  }

  .learnOption {
    width: 75px;
    height: 75px;
  }

  .selectionBar {
    height: 5px;
    width: 75px;
    background-color: var(--black);
  }

  #gardenList {
    position: absolute;
    background: var(--white);
    width: 300px;
    min-height: 550px;
    z-index: 10;
  }
  #gardenList > li {
    background: var(--white);
    border-bottom-color: var(--offWhite);
    border-bottom-style: solid;
    border-bottom-width: 2px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: -40px;
    height: 150px;
    text-align: left;
    list-style-type: none;
  }

  #gardenList > li:hover {
    background: var(--offWhite);
  }

  #gardenList > li > b {
    background: none;
  }

  #map {
    position: absolute;
    height: calc(100% - 120px);
    width: 100%;
    z-index: 0;
  }

  .leaflet-marker-icon {
    background: none;
  }

  #fs-frm {
    text-align: left;
    align-self: center;
    width: 500px;
  }

  #fs-frm-inputs > input {
    width: 500px;
    height: 35px;
  }

  #fs-frm-inputs > textarea {
    width: 500px;
  }

  #fs-frm > input {
    height: 50px;
    width: 535px;
  }

  #gardenRegistrationForm {
    text-align: left;
    align-self: center;
    width: 500px;
  }

  #garden-Registration-inputs > input {
    width: 500px;
    height: 35px;
  }

  #garden-Registration-inputs > #open {
    width: 233.5px;
  }

  #garden-Registration-inputs > #close {
    width: 233.5px;
  }

  #gardenRegistrationForm > input {
    height: 50px;
    width: 535px;
  }

  footer {
    bottom: 1px;
    margin-left: 0px;
  }
}
