* {
  background-color: #e7ece4;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* MOBILE RESPONSE */
@media (max-width: 815px) {
  header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: min-content;
    justify-content: space-between;
    align-items: center;
  }

  nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 300px;
  }

  li > a:hover {
    background-color: #6a3c2c;
    color: #e7ece4;
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 150vh;
  }

  .gardenList {
    display: flex;
    flex-direction: column;
    border: 1px solid;
    flex-basis: 25vh;
    text-align: center;
  }

  .centerContainer {
    border: 1px solid;
    flex-basis: 75vh;
  }

  .centerContainer > * {
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
  }

  .events {
    display: flex;
    flex-direction: column;
    border: 1px solid;
    flex-basis: 25vh;
    text-align: center;
  }

  .hidden--mobile {
    display: none;
  }

  #fs-frm {
    margin-top: 5%;
  }

  #map {
    height: 180px;
  }
}

/* DESKTOP RESPONSE */
@media (min-width: 815px) {
  header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: min-content;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
  }

  nav > ul {
    display: flex;
    flex-direction: column;
    width: min-content;
  }

  li > a:hover {
    background-color: #6a3c2c;
    color: #e7ece4;
  }

  nav > .fa-bars {
    display: none;
  }

  main {
    display: flex;
    flex-direction: row;
    height: calc(90vh - 125px);
    border-style: solid;
    border-width: 1px;
  }

  .gardenList {
    display: flex;
    flex-direction: column;
    border: 1px solid;
    flex-basis: 25vw;
    text-align: center;
  }

  .centerContainer {
    border: 1px solid;
    flex-basis: 75vw;
    min-height: min-content;
  }

  .centerContainer > * {
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
  }

  .events {
    display: flex;
    flex-direction: column;
    border: 1px solid;
    flex-basis: 25vw;
    text-align: center;
  }

  .hidden--mobile {
    display: contents;
  }

  #fs-frm {
    margin-top: 5%;
  }

  #map {
    height: 180px;
  }
}
